/*
    CSS stylesheet for ftp.kaist.ac.kr
    Author: Jaeho Shin <netj@sparcs.kaist.ac.kr>
    Created: 2003/01/30
*/

@import url(/include/nav.css);
#nav {
    font-size: 0.8em;
}

body {
    font-family: Tahoma, Bitstream Vera Sans, 맑은 고딕, 은 돋움, 돋움, sans-serif;
    background-color: #fff;
    color: #003;
}
#body {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
#foot {
    font-size: 0.7em;
}
#head h1 {
    font-family: Verdana, Tahoma, HY견고딕, 은 돋움, 돋움, sans-serif;
    margin: 0.1em;
    font-size: 2.2em;
    font-weight: bold;
}

pre { font-family: Andale Mono, 돋움체, 맑은 고딕, 은 돋움, monospace; }
a:link, a:visited { text-decoration: none; }
a:link    { color: #33f; }
a:visited { color: #039; }
a:hover, a:active { text-decoration: underline; }
a:hover, a:active { text-decoration: underline; }
hr { border: 1px none #ccc; border-top-style: solid; clear: both; }


#sponsors {
    float: right;
    position: relative;
    top: -16em;
    height: 0em;
}
#sponsors img {
    display: block;
    vertical-align: middle;
    border-style: none;
    margin: 0.5em;
}

/* borders */
#head, #foot {
    color: #208;
    border-style: solid;
    border-width: 0px;
    border-color: #ccc;
}
#head {
    border-bottom-width: 1px;
    padding-bottom: 0.1em;
    margin-bottom: 0.4em;
}
#foot {
    border-top-width: 1px;
    padding-top: 0.1em;
    margin-top: 0.4em;
}

/* foot */
#foot * {
    color: #999;
}
#lastupdated {
    line-height: 1em;
}
#copyinfo {
    position: relative;
    font-style: normal;
    top: -1.2em;
    text-align: right;
    line-height: 1em;
}

/* package index */
#pkgs {
    font-size: 0.8em;
}
#pkgs.updating {
    background-color: #ff3 !important;
}

#pkgsidx a {
    color: inherit;
    text-decoration: none !important;
}
.pkglink {
    border: 1px solid;
    line-height: 2.4em;
    display: inline !important;
    white-space: nowrap;
    margin: 0em;
    margin-left: 0.3em;
    margin-right: 0.3em;
    padding: 0.3em;
}
.pkglink.active, .pkglink:hover {
    border-style: dotted !important;
}

#pkgstool, #pkgsinfo {
    padding: 0.5em;
}
#pkgsinfo {
    min-height: 20em;
}
.pkg {
    display: none;
    border: 1px solid;
    padding: 0.5em;
}
.pkg.active {
    display: block;
}

.pkg a {
    color: inherit;
    text-decoration: underline;
}
.pkg h3 {
    margin: 0em;
}
.pkg ul {
    margin: 0.5em;
    padding-left: 1.5em;
    line-height: 1.5em;
}

.sync    { border-color: #f33 !important; border-style: dashed !important; }
.good    { color: #000 !important; background-color: #bfb; border-color: #000; }
.old     { color: #efe !important; background-color: #363; border-color: #693; }
.bad     { color: #fc9 !important; background-color: #531; border-color: #842; }
.dead    { color: #ece !important; background-color: #315; border-color: #999; }
.down    { color: #999 !important; background-color: #eee; border-color: #ccc; }
.unknown { color: #fee !important; background-color: #f33; border-color: #000; }
.pkgsync    { display: none;  }
.pkgsync.up { display: inline !important; color: #fc3; font-weight: bold; }

.pkgage, .pkgsyncage, .pkgsyncfailures { font-size: 0.8em; }
.pkgsyncfailures {
    color: #888 !important;
}
