/*
    CSS stylesheet for ftp.kaist.ac.kr
    Author: Jaeho Shin <netj@sparcs.kaist.ac.kr>
    Created: 2003/01/30
*/

@import url(/status.css);
@import url(/include/nav.css);
#nav {
    font-size: 0.8em;
}

body {
    font-family: Tahoma, Bitstream Vera Sans, 맑은 고딕, 은 돋움, 돋움, sans-serif;
    background-color: #fff;
    color: #003;
}
#body {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
#foot {
    font-size: 0.7em;
}
#head h1 {
    font-family: Verdana, Tahoma, HY견고딕, 은 돋움, 돋움, sans-serif;
    margin: 0.1em;
    font-size: 2.2em;
    font-weight: bold;
}

pre { font-family: Andale Mono, 돋움체, 맑은 고딕, 은 돋움, monospace; }
a:link, a:visited { text-decoration: none; }
a:link    { color: #33f; }
a:visited { color: #039; }
a:hover, a:active { text-decoration: underline; }
a:hover, a:active { text-decoration: underline; }
hr { border: 1px none #ccc; border-top-style: solid; clear: both; }

/* borders */
#head, #foot {
    color: #208;
    border-style: solid;
    border-width: 0px;
    border-color: #ccc;
}
#head {
    border-bottom-width: 1px;
    padding-bottom: 0.1em;
    margin-bottom: 0.4em;
}
#foot {
    border-top-width: 1px;
    padding-top: 0.1em;
    margin-top: 0.4em;
}

/* foot */
#foot * {
    color: #999;
}
#lastupdated {
    line-height: 1em;
}
#copyinfo {
    position: relative;
    font-style: normal;
    top: -1.2em;
    text-align: right;
    line-height: 1em;
}

/* rss items */
.rss-item br {
    display: none;
}
.rss-item-date:before {
    content: ' ';
}
.rss-item-date {
    margin-left: 0.5em;
    font-size: 0.8em;
}
.rss-item-description {
    font-size: 0.8em;
    margin: 0.3em;
}


/* front page */
#announce #sponsors-pane img {
    vertical-align: middle;
    border-style: none;
    margin: 0.5em;
    margin-right: 2em;
}

