## Geoul common
/.ssh
/.lftp
/.bash_history
/.viminfo
/ftp
/run
/log

/etc/htpasswd
/etc/rsyncd.conf
/etc/rsyncd.secrets

/pkgs/*/timestamp
/pkgs/*/log*
/pkgs/*/lock*
/pkgs/*/failed*
/pkgs/*/.success.log.gz
/pkgs/*/.failure.log.gz

/pkgs/*.feed
/pkgs/*.feed~
/pkgs/*/*.feed
/pkgs/*/*.feed~

/pkgs/*/du.rrd
/pkgs/*/du*.png
/pkgs/*/usage.*.rrd
/pkgs/*/usage*.png
/svcs/*/usage.rrd
/svcs/*/usage*.png
/nodes/*/stats.rrd
/nodes/*/pkgs.lst
/nodes/*/storage



## ftp.kaist.ac.kr specific
/etc/Attic
/etc/admin-contact
/etc/mailing-lists
/www/self/index.html
/www/self/robots.txt

/pkgs/debian*/ftpsync.conf
/pkgs/debian-cd/debian-cd-mirror.conf
/pkgs/fedora/report_mirror.conf
/pkgs/gentoo/gentoo-rsync.conf
/pkgs/pypi/pep381client

.svn
