## periodic jobs for Geoul system
SHELL=/bin/sh
PATH=/mirror/bin:/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

# check services
*/2 *	* * *	root	exec watch-services

# keep in sync
*/3 *	* * *	mirror	exec nice -n  2 maintain-sync >/dev/null
0 16	* * *	mirror	exec check-anomalies
11 *	* * *	mirror	exec stop-dead-syncs

# update data to show
* *	* * *	mirror	exec nice -n  3 publish-pkgstat.xml
0 *	* * *	mirror	exec nice -n 10 publish-pkgindex
5 *	* * *	mirror	exec nice -n 10 publish-announce.html
53 *	* * *	mirror	exec nice -n 15 measure-usages
51 9	* * *	mirror	exec nice -n 15 analyze-usages
17 */5	* * *	mirror	exec nice -n  1 update-ls-lR
0 0	* * *	root	exec nice -n 10 update-rsyncd.conf
31 */5	* * *	mirror	exec nice -n 15 measure-sizes >/dev/null
41 */5	* * *	mirror	exec nice -n 10 update-size.graphs --lazy

# clean up
13 7	* * *	mirror	exec nice -n  1 expire-sync-logs
23 8	* * *	mirror	exec nice -n  1 expire-tmp

# reboot
@reboot 	mirror	publish-pkgstat.xml; publish-pkgindex
@reboot 	mirror	rm -f /mirror/log/*.lock
