## periodic jobs for Geoul system
SHELL=/bin/sh
PATH=/mirror/bin:/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

# check services
*/2 *	* * *	root	exec watch-services

# keep in sync
*/3 *	* * *	mirror	exec nice -n  5 maintain-sync >/dev/null
0 16	* * *	mirror	exec check-anomalies

# update data to show
* *	* * *	mirror	exec nice -n  2 publish-pkgstat.xml
0 *	* * *	mirror	exec nice -n 10 publish-pkgindex
31 *	* * *	mirror	exec nice -n 10 publish-announce.html
51 *	* * *	mirror	exec nice -n 15 analyze-usages
47 */3	* * *	mirror	exec nice -n  7 update-ls-lR
0 0	* * *	root	exec nice -n 10 update-rsyncd.conf
11 */6  * * *	mirror	exec nice -n 15 measure-sizes
17 */6  * * *	mirror	exec nice -n 10 update-size.graphs

# reboot
@reboot 	mirror	publish-pkgstat.xml; publish-pkgindex
