# This is a semi-automounter map and it has the following format
# key location [ -mount-options-separated-by-comma ]
# The semi-automounter can handle autofs maps semi-automatically. :)
# For details of the format look at autofs(5).

/mirror	yp:auto.local	rw,nodev,noexec,nosuid,noatime,async,tcp,bg,hard,intr,nolock

# vim:ts=20:ft=conf
